{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <h1 class="text-center text-primary mb-4">
        Company Policies
    </h1>

    <div class="card shadow p-4">

        <h3>1. Office Timing</h3>
        <p>
            Employees must report between 9:00 AM to 6:00 PM.
        </p>

        <hr>

        <h3>2. Leave Policy</h3>
        <p>
            Employees are allowed 2 paid leaves per month.
        </p>

        <hr>

        <h3>3. Dress Code</h3>
        <p>
            Formal dress is mandatory during office hours.
        </p>

        <hr>

        <h3>4. Work Ethics</h3>
        <p>
            Employees should maintain professional behaviour and teamwork.
        </p>

        <hr>

        <h3>5. Work From Home</h3>
        <p>
            Work from home is allowed only with manager approval.
        </p>

    </div>

</div>

{% endblock %}